.linkTable {
    margin: 32px 0px 0px 0px;
}

.linkTableNav {
    border-bottom: 1px solid #e9ebee;
    height: 28px;
}

    .linkTableNav > a,
    .linkTableNav > a:hover,
    .linkTableNav > a:visited {
        border-bottom: 4px solid transparent;
        color: #1e1e1e;
        display: block;
        float: left;
        font-size: 11pt;
        height: 24px;
        margin: 0px 44px 0px 0px;
        padding: 0px;
        text-decoration: none;
    }

        .linkTableNav > a:hover {
            color: #3399ff;
        }

        .linkTableNav > a.selected,
        .linkTableNav > a.selected:hover {
            border-bottom: 4px solid #3399ff;
        }

.linkTableSubNav {
    float: left;
    margin-top: 0px;
    padding-top: 12px;
    width: 160px;
}

    .linkTableSubNav > a,
    .linkTableSubNav > a:hover,
    .linkTableSubNav > a:visited {
        color: #717171;
        display: block;
        font-size: 11pt;
        margin-top: 8px;
        min-height: 28px;
        line-height: 1.2em;
        padding: 4px 8px 0px 8px;
        text-decoration: none;
    }

        .linkTableSubNav > a:hover {
            color: #3399ff;
        }

        .linkTableSubNav > a.selected,
        .linkTableSubNav > a.selected:hover {
            background-color: #cccedb;
            color: #1e1e1e;
        }

.linkTableCodeBox {
    border-left: 1px solid #e9ebee;
    margin-left: 160px;
    min-height: 150px;
    padding: 12px 0px 12px 12px;
    overflow: auto;
}
